#chart_body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: hsl(27, 66%, 92%);
}

#chartHeader {
    display: flex;
    align-items: center;
    background-color: hsl(10, 79%, 65%);
    border-radius: 14px;
    width: 35%;
    height: 100px;
    margin:auto;
    margin-top: 2em;
    margin-bottom: 1em;
}

#chartLogo {
    margin-right: 1em;
    position: relative;
    width: 4em;
    margin-left: auto;
}

#chartTitle {
    display: block;
    width: auto;
    margin-left: 1em;
    color: white;
}

#intireChart {
    background-color: white;
    width: 35%;
    border-radius: 40.5px;
    margin: auto;
    
}

#chartBars{
    width: 80%;
    margin: auto;
}

#chartBalance {
    font-size: 0.7em;
    margin-bottom: 1em;
}

#chartValue {
    font-size: 1.5em;
}

#chartFooter {
    display: flex;
    width: 80%;
    border-top: solid rgb(226, 223, 223) 2px;
    margin: auto;
    margin-top: 2em;
    height: 5em;
    padding-top: 2em;
}

#totalMonth {
    margin-top: 0.2em;
    margin-left: 1em;
}

#this_month {
    font-size: 0.5em;
    margin-bottom: 0.5em;
}

#valueMonth {
    font-size: 1.3em;
}

#growthMont {
    margin-top: 0.2em;
    margin-left: auto;
    margin-right: 1em;
}

#lastMonth {
    font-size: 0.5em;
    margin-top: 1em;
}


footer {
    width: 100%;
    background-color: #0081C9;
    color: #FFC93C;
    font-size: 1em;
    text-align: center;
    position: absolute;
    bottom: 0;
}